@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura-CondensedExtraBold', Futura, sans-serif;
  src: url('./fonts/Futura.ttc');
  font-display: swap;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'AndaleMono';
  src: url('./fonts/ANDALEIMO.TTF');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'AndaleMonoBold';
  src: url('./fonts/ANDALEBMO.TTF');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro';
  src: url('./fonts/MinionPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html,
body {
  height: 100%;
}

p {
  font-family: AndaleMono, sans-serif;
}

h1 {
  font-family: Futura-CondensedExtraBold, Futura, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5 {
  font-family: Futura-CondensedMedium, Futura, sans-serif;
  text-transform: uppercase;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  box-sizing: border-box;
  background-color: #eee;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;

  background-color: transparent;
  border: 1px solid red;
}

label {
  text-transform: uppercase;
  margin: 20px 0;
}

.black-text-outline {
  color: black;
  -webkit-text-stroke: 1px red;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px red;
}

.text-back {
  color: transparent;
  -webkit-text-stroke: 1px red;
  letter-spacing: 0.2rem !important;
}

.text-front {
  position: absolute;
  left: -10px;
  top: 0;
  z-index: -1;
  letter-spacing: 0.2rem;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #717171;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #bbb;
}

.testi-container {
  background-size: cover;
  padding-top: 70px;
  padding-left: 70px;
  background-clip: content-box;
  background-repeat: no-repeat;
}

.testi-content {
  margin-top: -70px;
  margin-left: -70px;
}

.transparent-overlay {
  background-color: rgba(255, 255, 255, 0.4);
}

/*
  sm	640px	@media (min-width: 640px) { ... }
  md	768px	@media (min-width: 768px) { ... }
  lg	1024px	@media (min-width: 1024px) { ... }
  xl	1280px	@media (min-width: 1280px) { ... }
  2xl	1536px	@media (min-width: 1536px) { ... }
*/

/* CSS Variables */
/* Mobile */
#root {
  --navMenu: 3rem;
  --heroHeading: 3.2rem;

  --headingXXXL: 3.8rem;
  --headingXXL: 2.25rem;
  --headingXL: 1.6625rem;
  --headingL: 1.35rem;
  --headingM: 1.125rem;
  --headingS: 0.90625rem;
}

/* sm */
@media screen and (min-width: 640px) {
  #root {
    --navMenu: 1.35rem;
    --heroHeading: 4rem;

    --headingXXXL: 6rem;
    --headingXXL: 2.875rem;
    --headingXL: 2.25rem;
    --headingL: 1.625rem;
    --headingM: 1.28125rem;
    --headingS: 1.0625rem;
  }
}

/* Tablet / md */
@media screen and (min-width: 768px) {
  #root {
    --navMenu: 1.35rem;
    --heroHeading: 6rem;
  }
}

/* Laptop / lg */
@media screen and (min-width: 1024px) {
  #root {
    --navMenu: 1.35rem;
    --heroHeading: 7rem;

    --headingXXXL: 10rem;
    --headingXXL: 3.5rem;
    --headingXL: 2.75rem;
    --headingL: 1.875rem;
    --headingM: 1.5rem;
    --headingS: 1.25rem;
  }
}
