@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px red;
  text-stroke: 1px red;
}
